language: node_js
sudo: false
matrix:
  include:
    - node_js: "4"
    - node_js: "5"
    - node_js: "6"
    - node_js: "7"
    - node_js: "8"
    - node_js: "9"
  fast_finish: true
script:
  - "npm install"
  - "npm run eslint"
  - "npm run test"
after_script: "npm run coverage"
